<div class="program-details">
    <div class="info">
        <div class="header">
            <p><span>Program</span></p>
        </div>
        <div class="text">
            <p><span>Thalamus University</span></p><p><span>Cardiology</span></p><p><span>ACGME ID: 01234567</span></p><p><span>Program ID: 12345678</span></p>
        </div>
    </div>
    <div class="info">
        <div class="header">
            <p><span>Calendar Event</span></p>
        </div>
        <div class="text">
            <p><span>Interview Data</span></p><p><span>10/06/2023 | Friday</span></p><p><span>8:00 AM - 3:00 PM CST</span></p><p><span>7h</span></p>
        </div>
    </div>
    <div class="info">
        <div class="header">
            <p><span>Itinerary Information</span></p>
        </div>
        <div class="text">
            <p>Total time required: 7h 30m</p>
            <div>
                <ul>
                    <li>Total group event time: 6h 30m</li>
                    <li>Total interview time: 1h</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="header">
            <p>&nbsp;</p>
        </div>
        <div class="text">
            <span class="line">Interviewers: 7</span>
            <span class="line">Applicants: 20</span>
            <span class="line">Group Events: 5</span>
            <span class="line">Interview sessions per application: 4</span>
        </div>
    </div>
</div>